@model IEnumerable<AppsCatalog.Models.Application>

<div class="container">
    <h2 class="my-4">
        Applications Catalog
    </h2>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="form-group">
            <p class="control-label">
                Category
                <select asp="Сategory" name="category" class="search-area" placeholder="Search" style="height:35px"
                        asp-items="@Html.GetEnumSelectList<AppsCatalog.Models.enums.CategoryType>()"></select>
                Search
                <input class="search-area" id="value" name="value" placeholder="Search" />
                <button type="submit" class="btn btn-lg btn-success">Submit</button>
            </p>
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
        </div>
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" style="width: 180px;height: 180px;" src="https://wallpaperstock.net/two-ballons-wallpapers_1011_1280x960.jpg" alt="">
                <h3>@Html.DisplayFor(modelItem => item.Title) </h3>
                <div class="form-group">
                    <input type="submit" value="Download" class="btn btn-lg btn-success" />
                </div>
                <small><strong>Category:</strong> @Html.DisplayFor(modelItem => item.Сategory)</small>
                <p><strong>Description:</strong> @Html.DisplayFor(modelItem => item.Description)</p>
            </div>
        }
    </div>
</div>

